.table-dark {
    --bs-table-bg: #2B212B;
    --bs-table-striped-bg: #332933;
    --bs-table-striped-color: rgba(255, 255, 255, .75); /*White 75%*/
    --bs-table-active-bg: #423942;
    --bs-table-active-color: rgba(255, 255, 255, .75); /*White 75%*/
    --bs-table-hover-bg: #423942;
    --bs-table-hover-color: rgba(255, 255, 255, .75); /*White 75%*/
    color: rgba(255, 255, 255, .75); /*White 75%*/
    border-color: #2B212B
}
