@page "/"
@inject NavigationManager NavMan
@inject StateContainerService StateContainer

<PageTitle>Index | CrowTool</PageTitle>

<h1>Hello, @($"{userName}!")</h1>

<p style="margin-bottom: 1rem;">
    Welcome to your new app.
</p>

<FluentDesignSystemProvider FillColor="#D6D6D6">
    <FluentCard neutral-palette-source="#CABA8C">
        <SurveyPrompt Title="How is Blazor working for you?" />
    </FluentCard>
</FluentDesignSystemProvider>

@if (userId == 0)
{
    <FluentButton style="margin-top: 2em" Appearance="Appearance.Accent" @onclick=login>Log in with Twitter</FluentButton>
}

@code {
    private string userName = string.Empty;
    private long userId;

    protected override void OnInitialized()
    {
        userId = StateContainer.UserInfo.UserId;
        userName = (string.IsNullOrEmpty(StateContainer.UserInfo.Name))?  "Twitter" : StateContainer.UserInfo.Name;
    }

    private void login()
    {
        NavMan.NavigateTo("/twitter/login");
    }
}
