@inherits LayoutComponentBase

<PageTitle>CrowTool</PageTitle>

<div class="container">
    <div class="siteheader">
        <h2>CrowTool</h2>
        @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
    </div>
    <div class="main">
        <div class="navigation">
            <NavMenu />
        </div>

        <div class="content">
            <main>
                <article class="content px-4">
                    <ErrorBoundary>
                        <ChildContent>
                            @Body
                        </ChildContent>
                        <ErrorContent Context="ex">
                            <p class="error">@ex.Message</p>
                        </ErrorContent>
                    </ErrorBoundary>
                    <div class="footer">
                        <code>
                            <small>
                                -- Microsoft ASP.NET Static <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank">Blazor WebAssembly</a> App using <a href="https://www.fast.design/docs/integrations/blazor/" target="_blank">Fast Blazor</a> FluentUI Web Components (<a href="https://github.com/microsoft/fast-blazor" target="_blank">GitHub</a>)<br />
                                &nbsp;&nbsp; Powered by <a href="https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-3/" target="_blank">.NET 7 Preview 3</a>, <a href="https://www.linqtotwitter.com/" target="_blank" class="text-reset">LinqToTwitter</a> &amp; hosted on <a href="https://pages.cloudflare.com/" target="_blank">Cloudflare Pages</a> (Ubuntu)<br />
                                &nbsp;&nbsp; &copy; 2022 CrowTool, All Rights Reserved.
                            </small>
                        </code>
                    </div>
                </article>
            </main>
        </div>
    </div>
</div>
