<BaseLayerLuminance Value="(float?)0.15">
    <FluentCard BackReference="@context"  style="margin-top: 2rem">
        <div class="footercontent">
            <small>
                <code>
                    Microsoft ASP.NET Core Static <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank">Blazor WebAssembly</a> App using <a href="https://www.fast.design/docs/integrations/blazor/" target="_blank">Fast Blazor</a> FluentUI Web Components (<a href="https://github.com/microsoft/fast-blazor" target="_blank">GitHub</a>)
                    <br />Powered by <a href="https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-3/" target="_blank">.NET 7 Preview 3</a>, <a href="https://www.linqtotwitter.com/" target="_blank" class="text-reset">LinqToTwitter</a> &amp; hosted on <a href="https://pages.cloudflare.com/" target="_blank">Cloudflare Pages</a> (Ubuntu)
                    <br />&copy; 2022 CrowTool, All Rights Reserved.
                </code>
            </small>
        </div>
    </FluentCard>
</BaseLayerLuminance>
