<div class="footercontent">
    Microsoft ASP.NET Core Static <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank">Blazor WASM</a> App
    <br />Powered by <a href="https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-3/" target="_blank">.NET 7 Preview 3</a>, <a href="https://www.linqtotwitter.com/" target="_blank">LinqToTwitter</a>
    <br />Hosted on <a href="https://pages.cloudflare.com/" target="_blank">Cloudflare Pages</a>
    <br />&copy; 2022 CrowTool
</div>
